body {
  margin: 0%;
  background-image: url(../assets/img/fondo.jpg); }

h1, h2 {
  font-size: 2rem; }

a {
  text-decoration: none; }

h1, h2, h3, h4, h5 {
  font-family: Questrial;
  font-weight: bolder; }

p {
  font-family: Questrial; }

a {
  font-family: Questrial;
  font-weight: bolder; }

.btn-ver-mas {
  display: flex;
  width: 70%;
  height: 20px;
  background-color: black;
  padding: 4%;
  align-items: center;
  justify-content: center;
  border-radius: .5em; }
  .btn-ver-mas a {
    font-size: 1rem;
    color: white; }

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 20%;
  padding-left: 20%;
  background-color: #c5b475; }
  header div {
    justify-content: center; }
    header div a img {
      margin: 3%;
      width: 80%; }
  header nav {
    width: 50%;
    height: 100%; }
    header nav ul {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      list-style-type: none;
      margin-top: 0%;
      margin-bottom: 0%;
      padding: 14.5% 0% 0% 0%; }
      header nav ul li {
        display: inline;
        align-content: flex-end;
        padding: 2%;
        transition: all 1s; }
        header nav ul li:hover {
          transform: scale(1.1, 1.1); }
        header nav ul li a {
          text-decoration: none;
          color: white; }

@media only screen and (max-width: 768px) {
  header {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 0%;
    padding-left: 0%; }
    header div {
      width: 100%;
      align-content: center; }
      header div a img {
        width: 33%;
        padding-top: 1%; }
    header nav ul li {
      width: 100%;
      font-size: .7rem; } }

footer {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto;
  grid-template-areas: "footerIzq footerDer";
  background-color: #fdfdeb;
  margin-top: 5%; }
  footer .footerIzq img {
    margin: 2%; }
  footer .footerIzq p {
    padding-left: 3%; }
    footer .footerIzq p a {
      text-decoration: none;
      color: black; }
  footer .footerDer {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
    font-weight: bolder;
    background-color: #fdfdeb; }
    footer .footerDer img {
      margin: 10%; }
    footer .footerDer a {
      padding-right: 1%; }
    footer .footerDer p {
      padding-right: 1%; }

@media only screen and (max-width: 768px) {
  footer {
    margin-top: 10%; }
    footer .footerIzq img {
      width: 35%; }
    footer .footerIzq p {
      font-size: 1rem; }
    footer .footerDer a {
      margin-top: 2%; }
      footer .footerDer a img {
        width: 70%;
        margin: 5% 0% 0% 0%; }
    footer .footerDer p {
      font-size: .8rem; } }

/*--=============================--*/
/*--GRID INDEX--*/
/*--=============================--*/
.grid-index {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto auto auto auto auto;
  grid-template-areas: "bienvenidos bienvenidos" "productos productos" "quienes quienes" "contacto-titulo contacto-titulo" "contacto-img contacto-img"; }

.bienvenidos, .intro-productos {
  grid-area: bienvenidos; }

.productos {
  grid-area: productos; }

.quienes {
  grid-area: quienes; }

.contacto-titulo {
  grid-area: contacto-titulo; }

.contacto-img {
  grid-area: contacto-img; }

/*--=============================--*/
/*--CIERRE GRID INDEX--*/
/*--=============================--*/
/*--MENSAJE BIENVENIDA--*/
/*--=============================--*/
.bienvenidos, .intro-productos {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 14%; }
  .bienvenidos h1, .intro-productos h1 {
    color: white; }
  .bienvenidos p, .intro-productos p {
    width: 50%;
    text-align: center;
    padding-right: 0%;
    color: white; }

/*--=============================--*/
/*--CIERRE MENSAJE BIENVENIDA--*/
/*--=============================--*/
/*--SECCION PRODUCTOS--*/
/*--=============================--*/
.productos {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 4%;
  overflow: hidden; }
  .productos h2 {
    margin: 3%;
    transition: all .5s; }
    .productos h2:hover {
      transform: scale(1.1, 1.1); }
    .productos h2 a {
      color: white; }
  .productos img {
    border-radius: 2%; }

/*--=============================--*/
/*--CIERRE SECCION PRODUCTOS-->
/*--=============================--*/
/*--SECCION QUIENES--*/
/*--=============================--*/
.quienes {
  display: flex;
  justify-content: center; }
  .quienes .quienes-contenido {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #fdfdeb;
    border-radius: 2%;
    text-align: right;
    margin-top: 7%;
    width: 48%;
    padding: 4.87%; }
    .quienes .quienes-contenido article {
      width: 50%;
      padding-right: 5%; }
      .quienes .quienes-contenido article p {
        font-size: 1rem; }
        .quienes .quienes-contenido article p a {
          color: #c5b475;
          text-decoration: underline; }
    .quienes .quienes-contenido a img {
      width: 100%;
      border-radius: 2%; }

/*--=============================--*/
/*--CIERRE SECCION QUIENES--*/
/*--=============================--*/
/*--SECCION CONTACTO--*/
/*--=============================--*/
.contacto-titulo {
  text-align: center;
  margin-top: 7%;
  margin-bottom: 3%;
  transition: all 1s; }
  .contacto-titulo:hover {
    transform: scale(1.2, 1.2); }
  .contacto-titulo a {
    color: #fdfdeb; }

.contacto-img {
  display: flex;
  justify-content: space-evenly;
  padding-left: 5%;
  padding-right: 5%; }
  .contacto-img .logosContacto {
    transition: all 1s; }
    .contacto-img .logosContacto:hover {
      transform: scale(1.2, 1.2); }

/*--=============================--*/
/*--CIERRE SECCION CONTACTO--*/
/*--=============================--*/
/*--MEDIA QUERIE MOBILE--*/
/*===============================--*/
@media only screen and (max-width: 768px) {
  .grid-index {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto auto auto;
    grid-template-areas: "bienvenidos" "productos" "quienes" "contacto-titulo" "contacto-img"; }
  .bienvenidos, .intro-productos {
    grid-area: bienvenidos; }
  .productos {
    grid-area: productos; }
  .quienes {
    grid-area: quienes; }
  .contacto-titulo {
    grid-area: contacto-titulo; }
  .contacto-img {
    grid-area: contacto-img; }
  /*--=============================--*/
  /*--MENSAJE BIENVENIDA--*/
  /*--=============================--*/
  .bienvenidos, .intro-productos {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-family: Questrial;
    margin: 8%; }
    .bienvenidos h1, .intro-productos h1 {
      color: white;
      font-size: 1.5rem; }
    .bienvenidos p, .intro-productos p {
      display: none; }
  /*--=============================--*/
  /*--CIERRE MENSAJE BIENVENIDA--*/
  /*--=============================--*/
  /*--SECCION PRODUCTOS--*/
  /*--=============================--*/
  .productos {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    margin-top: 4%;
    overflow: hidden; }
    .productos h2 {
      margin: 3%;
      font-size: 1.7rem; }
    .productos img {
      border-radius: 2%;
      width: 85%;
      margin-left: 7.8%; }
  /*--=============================--*/
  /*--CIERRE SECCION PRODUCTOS-->
/*--=============================--*/
  /*--SECCION QUIENES--*/
  /*--=============================--*/
  .quienes {
    display: flex;
    justify-self: center;
    width: 90%;
    /*--=============================--*/
    /*--CIERRE SECCION QUIENES--*/
    /*--=============================--*/
    /*--SECCION CONTACTO--*/
    /*--=============================--*/ }
    .quienes .quienes-contenido {
      display: flex;
      flex-direction: column-reverse;
      width: 100%; }
      .quienes .quienes-contenido .quienes-texto {
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 100%; }
      .quienes .quienes-contenido .quienes-img {
        width: 100%; }
    .quienes .contacto-titulo {
      text-align: center;
      margin-top: 7%;
      margin-bottom: 3%; }
    .quienes .contacto-img {
      display: flex;
      justify-content: space-between;
      margin-left: 5%;
      margin-right: 5%; } }

@media only screen and (max-width: 768px) {
  .grid-container-general-prod {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto auto auto auto auto auto auto auto auto auto auto;
    grid-template-areas: "intro-productos" "titulo-jabon" "jabon-solido" "jabon-masajeador" "shampoo-solido" "titulo-cremas" "crema-higia"  "crema-lavanda"  "crema-perse" "titulo-boxes-kits" "box-triana"  "box-jabones"  "kit-shower"; }
  .intro-productos {
    grid-area: intro-productos; }
  .titulo-jabon, .titulo-cremas, .titulo-boxes-kits {
    grid-area: titulo-jabon; }
  .jabon-solido, .jabon-masajeador, .shampoo-solido, .crema-higia, .crema-lavanda, .crema-perse, .box-triana, .box-jabones, .kit-shower {
    grid-area: jabon-solido; }
  .jabon-masajeador {
    grid-area: jabon-masajeador; }
  .shampoo-solido {
    grid-area: shampoo-solido; }
  .titulo-cremas {
    grid-area: titulo-cremas; }
  .crema-higia {
    grid-area: crema-higia; }
  .crema-lavanda {
    grid-area: crema-lavanda; }
  .crema-perse {
    grid-area: crema-perse; }
  .titulo-boxes-kits {
    grid-area: titulo-boxes-kits; }
  .box-triana {
    grid-area: box-triana; }
  .box-jabones {
    grid-area: box-jabones; }
  .kit-shower {
    grid-area: kit-shower; } }

/*--=============================--*/
/*--GRID PRODUCTOS MAIN--*/
/*--=============================--*/
.grid-container-general-prod {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto auto auto auto auto auto;
  grid-template-areas: "intro-productos intro-productos intro-productos" "titulo-jabon titulo-jabon titulo-jabon" "jabon-solido jabon-masajeador shampoo-solido" "titulo-cremas titulo-cremas titulo-cremas" "crema-higia crema-lavanda crema-perse" "titulo-boxes-kits titulo-boxes-kits  titulo-boxes-kits" "box-triana box-jabones kit-shower"; }

.intro-productos {
  grid-area: intro-productos; }

.titulo-jabon, .titulo-cremas, .titulo-boxes-kits {
  grid-area: titulo-jabon; }

.jabon-solido, .jabon-masajeador, .shampoo-solido, .crema-higia, .crema-lavanda, .crema-perse, .box-triana, .box-jabones, .kit-shower {
  grid-area: jabon-solido; }

.jabon-masajeador {
  grid-area: jabon-masajeador; }

.shampoo-solido {
  grid-area: shampoo-solido; }

.titulo-cremas {
  grid-area: titulo-cremas; }

.crema-higia {
  grid-area: crema-higia; }

.crema-lavanda {
  grid-area: crema-lavanda; }

.crema-perse {
  grid-area: crema-perse; }

.titulo-boxes-kits {
  grid-area: titulo-boxes-kits; }

.box-triana {
  grid-area: box-triana; }

.box-jabones {
  grid-area: box-jabones; }

.kit-shower {
  grid-area: kit-shower; }

/*--=============================--*/
/*--CIERRE GRID PRODUCTOS MAIN--*/
/*--=============================--*/
/*--MENSAJE BIENVENIDA--*/
/*--=============================--*/
.intro-productos {
  margin: 8%; }

/*--=============================--*/
/*--CIERRE MENSAJE BIENVENIDA--*/
/*--=============================--*/
/*--SECCION JABONES Y SHAMPOOO--*/
/*--=============================--*/
.titulo-jabon, .titulo-cremas, .titulo-boxes-kits {
  text-align: center;
  font-family: Questrial;
  color: white;
  margin: 4%; }

.jabon-solido, .jabon-masajeador, .shampoo-solido, .crema-higia, .crema-lavanda, .crema-perse, .box-triana, .box-jabones, .kit-shower {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fdfdeb;
  padding: 4%;
  width: 85%;
  border-radius: 5%;
  justify-self: center; }
  .jabon-solido img, .jabon-masajeador img, .shampoo-solido img, .crema-higia img, .crema-lavanda img, .crema-perse img, .box-triana img, .box-jabones img, .kit-shower img {
    border-radius: 5%; }
  .jabon-solido h3, .jabon-masajeador h3, .shampoo-solido h3, .crema-higia h3, .crema-lavanda h3, .crema-perse h3, .box-triana h3, .box-jabones h3, .kit-shower h3 {
    font-size: 1.5rem; }
    .jabon-solido h3 a, .jabon-masajeador h3 a, .shampoo-solido h3 a, .crema-higia h3 a, .crema-lavanda h3 a, .crema-perse h3 a, .box-triana h3 a, .box-jabones h3 a, .kit-shower h3 a {
      color: black; }

/*--=================================--*/
/*--CIERRE SECCION JABONES Y SHAMPOOO--*/
/*--=================================--*/
/*--SECCION CREMAS FACIALES--*/
/*--=============================--*/
/*--==============================--*/
/*--CIERRE SECCION CREMAS FACIALES--*/
/*--==============================--*/
/*--SECCION BOXES Y KITS--*/
/*--==============================--*/
/*--==============================--*/
/*--CIERRE SECCION BOXES Y KITS--*/
/*--==============================--*/
