/*--===========================--*/
/*--ESTILOS GENERALES--*/
/*--===========================--*/
body {
  margin: 0%;
  background-image: url(../assets/img/fondo.jpg); }

h1, h2 {
  font-size: 2rem; }

a {
  text-decoration: none; }

/*--===========================--*/
/*--CIERRE ESTILOS GENERALES--*/
/*--===========================--*/
/*--MIXINS--*/
/*--===========================--*/
/*--===========================--*/
/*--CIERRE MIXINS--*/
/*--===========================--*/
/*--MAPS--*/
/*--===========================--*/
/*--===========================--*/
/*--CIERRE MAPS--*/
/*--===========================--*/
/*--BOTONES--*/
/*--===========================--*/
.btn-ver-mas {
  display: flex;
  width: 70%;
  background-color: black;
  padding: 4%;
  align-items: center;
  justify-content: center;
  border-radius: .5em; }
  .btn-ver-mas a {
    font-size: 1rem;
    color: white; }

/*--===========================--*/
/*--CIERRE BOTONES--*/
/*--===========================--*/
h1, h2, h3, h4, h5 {
  font-family: Questrial;
  font-weight: bolder; }

p {
  font-family: Questrial; }

a {
  font-family: Questrial;
  font-weight: bolder; }

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 20%;
  padding-left: 20%;
  background-color: #c5b475; }
  header div {
    justify-content: center; }
    header div a img {
      margin: 3%;
      width: 80%; }
  header nav {
    width: 50%;
    height: 100%; }
    header nav ul {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      list-style-type: none;
      margin-top: 0%;
      margin-bottom: 0%;
      padding: 14.5% 0% 0% 0%; }
      header nav ul li {
        display: inline;
        align-content: flex-end;
        padding: 2%;
        transition: all 1s; }
        header nav ul li:hover {
          transform: scale(1.1, 1.1); }
        header nav ul li a {
          text-decoration: none;
          color: white; }

@media only screen and (max-width: 768px) {
  header {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 0%;
    padding-left: 0%; }
    header div {
      width: 100%;
      align-content: center; }
      header div a img {
        width: 33%;
        padding-top: 1%; }
    header nav ul li {
      width: 100%;
      font-size: .7rem; } }

footer {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto;
  grid-template-areas: "footerIzq footerDer";
  background-color: #fdfdeb;
  margin-top: 5%; }
  footer .footerIzq img {
    margin: 2%; }
  footer .footerIzq p {
    padding-left: 3%; }
    footer .footerIzq p a {
      text-decoration: none;
      color: black; }
  footer .footerDer {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
    font-weight: bolder;
    background-color: #fdfdeb; }
    footer .footerDer img {
      margin: 10%; }
    footer .footerDer a {
      padding-right: 1%; }
    footer .footerDer p {
      padding-right: 1%; }

@media only screen and (max-width: 768px) {
  footer {
    margin-top: 10%; }
    footer .footerIzq img {
      width: 35%; }
    footer .footerIzq p {
      font-size: 1rem; }
    footer .footerDer a {
      margin-top: 2%; }
      footer .footerDer a img {
        width: 70%;
        margin: 5% 0% 0% 0%; }
    footer .footerDer p {
      font-size: .8rem; } }

/*--=============================--*/
/*--GRID INDEX--*/
/*--=============================--*/
.grid-index {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto auto auto auto auto;
  grid-template-areas: "bienvenidos bienvenidos" "productos productos" "quienes quienes" "contacto-titulo contacto-titulo" "contacto-img contacto-img"; }

.bienvenidos, .intro-productos, .titulo-seccion {
  grid-area: bienvenidos; }

.productos {
  grid-area: productos; }

.quienes {
  grid-area: quienes; }

.contacto-titulo {
  grid-area: contacto-titulo; }

.contacto-img {
  grid-area: contacto-img; }

/*--=============================--*/
/*--CIERRE GRID INDEX--*/
/*--=============================--*/
/*--MENSAJE BIENVENIDA--*/
/*--=============================--*/
.bienvenidos, .intro-productos, .titulo-seccion {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 14%; }
  .bienvenidos h1, .intro-productos h1, .titulo-seccion h1 {
    color: white; }
  .bienvenidos p, .intro-productos p, .titulo-seccion p {
    width: 50%;
    text-align: center;
    padding-right: 0%;
    color: white; }

/*--=============================--*/
/*--CIERRE MENSAJE BIENVENIDA--*/
/*--=============================--*/
/*--SECCION PRODUCTOS--*/
/*--=============================--*/
.productos {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 4%;
  overflow: hidden; }
  .productos h2 {
    margin: 3%;
    transition: all .5s; }
    .productos h2:hover {
      transform: scale(1.1, 1.1); }
    .productos h2 a {
      color: white; }
  .productos img {
    border-radius: 2%; }

/*--=============================--*/
/*--CIERRE SECCION PRODUCTOS-->
/*--=============================--*/
/*--SECCION QUIENES--*/
/*--=============================--*/
.quienes {
  display: flex;
  justify-content: center; }
  .quienes .quienes-contenido {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #fdfdeb;
    border-radius: 2%;
    text-align: right;
    margin-top: 7%;
    width: 48%;
    padding: 4.87%; }
    .quienes .quienes-contenido article {
      width: 50%;
      padding-right: 5%; }
      .quienes .quienes-contenido article p {
        font-size: 1rem; }
        .quienes .quienes-contenido article p a {
          color: #c5b475;
          text-decoration: underline; }
    .quienes .quienes-contenido a img {
      width: 100%;
      border-radius: 2%; }

/*--=============================--*/
/*--CIERRE SECCION QUIENES--*/
/*--=============================--*/
/*--SECCION CONTACTO--*/
/*--=============================--*/
.contacto-titulo {
  text-align: center;
  margin-top: 7%;
  margin-bottom: 3%;
  transition: all 1s; }
  .contacto-titulo:hover {
    transform: scale(1.2, 1.2); }
  .contacto-titulo a {
    color: #fdfdeb; }

.contacto-img {
  display: flex;
  justify-content: space-evenly;
  padding-left: 5%;
  padding-right: 5%; }
  .contacto-img .logos-contacto {
    transition: all 1s; }
    .contacto-img .logos-contacto:hover {
      transform: scale(1.2, 1.2); }

/*--=============================--*/
/*--CIERRE SECCION CONTACTO--*/
/*--=============================--*/
/*--MEDIA QUERIE MOBILE--*/
/*===============================--*/
@media only screen and (max-width: 768px) {
  .grid-index {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto auto auto;
    grid-template-areas: "bienvenidos" "productos" "quienes" "contacto-titulo" "contacto-img"; }
  .bienvenidos, .intro-productos, .titulo-seccion {
    grid-area: bienvenidos; }
  .productos {
    grid-area: productos; }
  .quienes {
    grid-area: quienes; }
  .contacto-titulo {
    grid-area: contacto-titulo; }
  .contacto-img {
    grid-area: contacto-img; }
  /*--=============================--*/
  /*--MENSAJE BIENVENIDA--*/
  /*--=============================--*/
  .bienvenidos, .intro-productos, .titulo-seccion {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-family: Questrial;
    margin: 8%; }
    .bienvenidos h1, .intro-productos h1, .titulo-seccion h1 {
      color: white;
      font-size: 1.5rem; }
    .bienvenidos p, .intro-productos p, .titulo-seccion p {
      display: none; }
  /*--=============================--*/
  /*--CIERRE MENSAJE BIENVENIDA--*/
  /*--=============================--*/
  /*--SECCION PRODUCTOS--*/
  /*--=============================--*/
  .productos {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    margin-top: 4%;
    overflow: hidden; }
    .productos h2 {
      margin: 3%;
      font-size: 1.7rem; }
    .productos img {
      border-radius: 2%;
      width: 85%;
      margin-left: 7.8%; }
  /*--=============================--*/
  /*--CIERRE SECCION PRODUCTOS-->
/*--=============================--*/
  /*--SECCION QUIENES--*/
  /*--=============================--*/
  .quienes {
    display: flex;
    justify-self: center;
    width: 90%;
    /*--=============================--*/
    /*--CIERRE SECCION QUIENES--*/
    /*--=============================--*/
    /*--SECCION CONTACTO--*/
    /*--=============================--*/ }
    .quienes .quienes-contenido {
      display: flex;
      flex-direction: column-reverse;
      width: 100%; }
      .quienes .quienes-contenido .quienes-texto {
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 100%; }
      .quienes .quienes-contenido .quienes-img {
        width: 100%; }
    .quienes .contacto-titulo {
      text-align: center;
      margin-top: 7%;
      margin-bottom: 3%; }
    .quienes .contacto-img {
      display: flex;
      justify-content: space-between;
      margin-left: 5%;
      margin-right: 5%; } }

/*--======================================--*/
/*--GRID SETTINGS MOBILE PRODUCTOS MAIN--*/
/*--===================================--*/
.grid-container-general-prod {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto auto auto auto auto auto auto auto auto auto auto auto auto;
  grid-template-areas: "intro-productos" "titulo-jabon" "jabon-solido" "jabon-masajeador" "shampoo-solido" "titulo-cremas" "crema-higia"  "crema-lavanda"  "crema-perse" "titulo-boxes-kits" "box-triana"  "box-jabones"  "kit-shower"; }

.intro-productos {
  grid-area: intro-productos; }

.titulo-jabon {
  grid-area: titulo-jabon; }

.jabon-solido {
  grid-area: jabon-solido; }

.jabon-masajeador {
  grid-area: jabon-masajeador; }

.shampoo-solido {
  grid-area: shampoo-solido; }

.titulo-cremas {
  grid-area: titulo-cremas; }

.crema-higia {
  grid-area: crema-higia; }

.crema-lavanda {
  grid-area: crema-lavanda; }

.crema-perse {
  grid-area: crema-perse; }

.titulo-boxes-kits {
  grid-area: titulo-boxes-kits; }

.box-triana {
  grid-area: box-triana; }

.box-jabones {
  grid-area: box-jabones; }

.kit-shower {
  grid-area: kit-shower; }

/*--=============================--*/
/*--MENSAJE BIENVENIDA--*/
/*--=============================--*/
.titulo-prod-main, .titulo-producto {
  text-align: center;
  font-family: Questrial;
  color: white;
  margin: 4%; }

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  background-color: #fdfdeb;
  margin-top: 5%;
  padding: 4%;
  width: 85%;
  border-radius: 5%; }
  .card img {
    border-radius: 5%;
    width: 100%; }
  .card h3 {
    font-size: 1.5rem; }
    .card h3 a {
      color: black;
      width: 100%; }

/*--======================================--*/
/*--CIERRE SETTINGS CONTENIDO PRODUCT MAIN--*/
/*--======================================--*/
/*--MEDIA QUERIE DESKTOP PRODUCTOS MAIN--*/
/*--===================================--*/
@media only screen and (min-width: 1024px) {
  .grid-container-general-prod {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto auto auto auto auto;
    grid-template-areas: "intro-productos intro-productos intro-productos" "titulo-jabon titulo-jabon titulo-jabon" "jabon-solido jabon-masajeador shampoo-solido" "titulo-cremas titulo-cremas titulo-cremas" "crema-higia crema-lavanda crema-perse" "titulo-boxes-kits titulo-boxes-kits  titulo-boxes-kits" "box-triana box-jabones kit-shower"; }
  .intro-productos {
    grid-area: intro-productos; }
  .titulo-jabon {
    grid-area: titulo-jabon; }
  .jabon-solido {
    grid-area: jabon-solido; }
  .jabon-masajeador {
    grid-area: jabon-masajeador; }
  .shampoo-solido {
    grid-area: shampoo-solido; }
  .titulo-cremas {
    grid-area: titulo-cremas; }
  .crema-higia {
    grid-area: crema-higia; }
  .crema-lavanda {
    grid-area: crema-lavanda; }
  .crema-perse {
    grid-area: crema-perse; }
  .titulo-boxes-kits {
    grid-area: titulo-boxes-kits; }
  .box-triana {
    grid-area: box-triana; }
  .box-jabones {
    grid-area: box-jabones; }
  .kit-shower {
    grid-area: kit-shower; }
  /*--=============================--*/
  /*--CIERRE GRID PRODUCTOS MAIN--*/
  /*--=============================--*/
  /*--MENSAJE BIENVENIDA--*/
  /*--=============================--*/
  .intro-productos {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 8%; }
    .intro-productos h1 {
      color: white; }
    .intro-productos p {
      width: 50%;
      text-align: center;
      padding-right: 0%;
      color: white; }
  /*--=============================--*/
  /*--CIERRE MENSAJE BIENVENIDA--*/
  /*--===============================--*/
  /*--SETTINGS CONTENIDO PRODUCT MAIN--*/
  /*--===============================--*/
  .titulo-prod-main, .titulo-producto {
    text-align: center;
    font-family: Questrial;
    color: white;
    margin: 4%; }
  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fdfdeb;
    padding: 4%;
    width: 85%;
    border-radius: 5%;
    justify-self: center; }
    .card img {
      border-radius: 5%; }
    .card h3 {
      font-size: 1.5rem; }
      .card h3 a {
        color: black;
        width: 100%; }
  /*--======================================--*/
  /*--CIERRE SETTINGS CONTENIDO PRODUCT MAIN--*/
  /*--======================================--*/ }

.titulo-seccion a {
  color: white; }

.imagen-producto {
  display: flex;
  justify-content: center; }
  .imagen-producto img {
    width: 80%;
    border-radius: 1em; }

.formulario-compra {
  display: flex;
  flex-direction: column;
  padding: 8%; }
  .formulario-compra input {
    color: white;
    font-family: Questrial;
    font-size: 1rem;
    font-weight: bolder;
    background-color: black;
    padding: 4%;
    border-radius: .5em; }
  .formulario-compra select {
    font-family: Questrial;
    font-weight: bold;
    padding: 2%;
    border-radius: .5em; }

.formulario-envio .label-envio {
  display: flex;
  flex-direction: row;
  justify-content: center; }
  .formulario-envio .label-envio label {
    font-family: Questrial;
    font-weight: bolder;
    padding: 3%; }
  .formulario-envio .label-envio img {
    padding: 3% 3% 3% 1%; }

.formulario-envio .input-envio {
  display: flex;
  justify-content: center; }
  .formulario-envio .input-envio .cp-input {
    font-family: Questrial;
    font-weight: bolder;
    padding: 2%;
    margin-right: 1.3%;
    border-radius: .5em; }
  .formulario-envio .input-envio .calc-input {
    background-color: black;
    color: white;
    font-family: Questrial;
    font-weight: bolder;
    border-radius: .5em; }

.producto-descrip {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fdfdeb;
  border-radius: 1em;
  margin: 4% 2% 4% 2%; }
  .producto-descrip h4 {
    text-align: center; }
  .producto-descrip ul {
    font-family: Questrial;
    width: 80%; }
  .producto-descrip h5 {
    text-align: center; }

@media only screen and (min-width: 1024px) {
  .grid-general-prod {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto auto auto auto;
    grid-template-areas: "titulo-seccion" "titulo-producto" "imagen-producto" "formulario-compra" "formulario-envio" "producto-descrip"; }
  .titulo-seccion {
    grid-area: titulo-seccion; }
  .titulo-producto {
    grid-area: titulo-producto; }
  .imagen-producto {
    grid-area: imagen-producto; }
  .formulario-compra {
    grid-area: formulario-compra; }
  .formulario-envio {
    grid-area: formulario-envio; }
  .producto-descrip {
    grid-area: producto-descrip; }
  .titulo-seccion {
    margin: 5%; }
  .titulo-producto {
    margin: 1%; }
  .imagen-producto {
    justify-content: center; }
    .imagen-producto img {
      width: 28%;
      border-radius: 2em; }
  .formulario-compra {
    display: flex;
    flex-direction: row;
    justify-self: center;
    justify-content: center;
    width: 30%;
    padding: 1%; }
    .formulario-compra input {
      padding: 2% 3.5% 2% 3.5%; }
    .formulario-compra select {
      width: 15%;
      margin-left: 3%; }
  .formulario-envio .label-envio label {
    padding: 1%; }
  .formulario-envio .label-envio img {
    padding: 1%; }
  .formulario-envio .input-envio .cp-input {
    padding: .5%; }
  .producto-descrip {
    justify-self: center;
    width: 30%;
    margin-bottom: 2%; }
    .producto-descrip h4 {
      font-size: 1.5rem; }
    .producto-descrip p {
      font-size: 1rem; }
    .producto-descrip h5 {
      font-size: 1rem; } }

@media only screen and (max-width: 768px) {
  .grid-quienes {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: "intro-seccion" "pres-owner1" "pres-owner2" "video"; }
  .intro-seccion {
    grid-area: intro-seccion; }
  .pres-owner1, .pres-owner2 {
    grid-area: pres-owner1; }
  .pres-owner2 {
    grid-area: pres-owner2; }
  .video {
    grid-area: video; }
  .intro-seccion {
    display: flex;
    flex-direction: column;
    justify-self: center;
    text-align: center;
    color: white;
    width: 90%;
    margin-top: 5%; }
  .pres-owner1, .pres-owner2 {
    display: flex;
    flex-direction: column;
    justify-self: center;
    font-family: Questrial;
    color: white;
    padding: 0% 5% 0% 5%;
    justify-self: center;
    width: 88%;
    border-radius: 1em;
    background-color: #e6dead;
    text-align: center;
    margin-top: 5%; }
  .video {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-self: center;
    color: white;
    border-radius: 1em;
    margin-top: 5%;
    width: 90%;
    margin-top: 3%;
    background-color: #c5b475; }
    .video .video-texto {
      text-align: center;
      width: 90%;
      margin: 4%; }
      .video .video-texto h2 {
        margin: 0%; }
    .video iframe {
      margin: 2%;
      border-radius: 1em;
      width: 90%; } }

/*--==============================--*/
/*--MEDIA QUERIE DESKTOP--*/
/*--==============================--*/
@media only screen and (min-width: 1024px) {
  /*--================================--*/
  /*--GRID SETTINGS DESKTOP QUIENES--*/
  /*--================================--*/
  .grid-quienes {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: "intro-seccion intro-seccion" "pres-owner1 pres-owner1" "pres-owner2 pres-owner2" "video video"; }
  .intro-seccion {
    grid-area: intro-seccion; }
  .pres-owner1, .pres-owner2 {
    grid-area: pres-owner1; }
  .pres-owner2 {
    grid-area: pres-owner2; }
  .video {
    grid-area: video; }
  /*--================================--*/
  /*--CIERRE GRID SETTINGS DESKTOP QUIENES--*/
  /*--================================--*/
  /*--INTRO DE SECCION--*/
  /*--================================--*/
  .intro-seccion {
    display: flex;
    flex-direction: column;
    justify-self: center;
    text-align: center;
    color: white;
    width: 30%;
    margin-top: 5%; }
  /*--================================--*/
  /*--CIERRE INTRO DE SECCION--*/
  /*--================================--*/
  /*--PRESENTACION OWNERS-*/
  /*--================================--*/
  .pres-owner1, .pres-owner2 {
    display: flex;
    flex-direction: column;
    justify-self: center;
    font-family: Questrial;
    color: white;
    padding: 0% 5% 0% 5%;
    width: 22%;
    border-radius: 1em;
    background-color: #e6dead;
    text-align: center;
    margin-top: 5%; }
  .pres-owner2 {
    display: flex;
    flex-direction: column;
    justify-self: center;
    font-family: Questrial;
    color: white;
    padding: 0% 5% 0% 5%;
    width: 22%;
    border-radius: 1em;
    background-color: #e6dead;
    text-align: center;
    margin-top: 5%; }
  /*--================================--*/
  /*--CIERRE PRESENTACION OWNERS-*/
  /*--================================--*/
  /*--VIDEO PRESENTACION/TEXTO-*/
  /*--================================--*/
  .video {
    display: flex;
    flex-direction: row;
    justify-self: center;
    align-items: center;
    color: white;
    border-radius: 1em;
    width: 40%;
    margin-top: 3%;
    background-color: #c5b475; }
    .video .video-texto {
      width: 65%;
      margin: 4%; }
      .video .video-texto h2 {
        margin: 0%; }
    .video iframe {
      margin: 2%;
      border-radius: 1em; }
  /*--================================--*/
  /*--CIERRE VIDEO PRESENTACION/TEXTO-*/
  /*--================================--*/ }

.grid-contacto {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto auto auto;
  grid-template-areas: "intro-seccion" "form-contacto" "rrss"; }

.intro-seccion {
  grid-area: intro-seccion; }

.form-contacto {
  grid-area: form-contacto; }

.rrss {
  grid-area: rrss; }

.form-contacto {
  display: flex;
  display: flex;
  flex-direction: column;
  justify-self: center;
  background-color: #c5b475;
  justify-content: center;
  padding: 3%;
  width: 28%;
  font-family: Questrial;
  font-weight: bolder;
  color: white;
  margin-top: 4%;
  border-radius: 1em; }
  .form-contacto input {
    margin-top: 3%;
    border-radius: .3em;
    border-color: white;
    background-color: white;
    color: black;
    font-family: Questrial; }
  .form-contacto textarea {
    border-radius: .4em;
    border-color: white;
    background-color: white;
    color: black;
    font-family: Questrial;
    font-size: 1rem;
    font-weight: bolder; }
  .form-contacto .enviar, .form-contacto .reset {
    background-color: white;
    color: black;
    font-family: Questrial;
    font-weight: bolder;
    border-radius: .5em;
    padding: 3%; }

.rrss-titulo {
  text-align: center;
  color: #fdfdeb;
  margin-top: 7%;
  margin-bottom: 3%;
  transition: all 1s; }

@media only screen and (max-width: 768px) {
  .form-contacto {
    width: 85%; } }
